<div class="form-group row">
  <div class="col-lg-2 d-flex align-items-center font-weight-bold justify-content-end">
    <h6>Card name</h6>
  </div>
  <div class="col-lg-4">
    <%= f.text_field :name, class: 'form-control form-control-lg form-control-solid required', placeholder:"Enter rate card name" %>
  </div>

  <div class="col-lg-4">
    <a href='#' id='add-btn' class="btn font-weight-bold  btn-icon">
      <i class="icon-2x text-dark-50 flaticon-plus mr-4"></i>
    </a>
  </div>
</div>
<div>
  <%= f.fields_for :rate_risk_adjustments do |rate_risk_adjustment|%>
    <%= render 'rate_risk_adjustment_fields', f: rate_risk_adjustment %>
  <%end%>

  <div class="links invisible">
    <%= link_to_add_association 'add rate_risk_adjustment', f, :rate_risk_adjustments %>
  </div>
</div>

<div class="form-group row">
  <label class="col-lg-1 col-form-label text-lg-right"></label>
  <div class="col-2">
    <span class="switch switch-primary">
      <label>
        <%= f.check_box :primary, class: is_primary? ? 'primary-exists' : '', data: { type: rate_card_types[f.object.card_type.to_sym].downcase } %>
        <span></span>
      </label>
      <label class="text-right ml-4">Primary</label>
    </span>
  </div>
</div>
