<div class="content d-flex flex-column flex-column-fluid users" id="kt_content">
  <div class="d-flex flex-column-fluid">
    <div class="container">
      <div class="card card-custom">
        <div class="card-header flex-wrap border-0 pt-6 pb-0">
          <div class="card-title">
            <h3 class="card-label">  <%= params[:card_type].present? ? "#{rate_card_types[params[:card_type].to_sym]}s" : 'Rate Listing'%>
              <span class="d-block text-muted pt-2 font-size-sm">Rates listing &amp; management</span>
            </h3>
          </div>
          <div class="card-toolbar">

            <a href="<%= new_rate_card_path(card_type: params[:card_type]) %>" class="btn btn-primary font-weight-bolder">
            <span class="svg-icon svg-icon-md">
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <rect x="0" y="0" width="24" height="24" />
                  <circle fill="#000000" cx="9" cy="15" r="6" />
                  <path d="M8.8012943,7.00241953 C9.83837775,5.20768121 11.7781543,4 14,4 C17.3137085,4 20,6.6862915 20,10 C20,12.2218457 18.7923188,14.1616223 16.9975805,15.1987057 C16.9991904,15.1326658 17,15.0664274 17,15 C17,10.581722 13.418278,7 9,7 C8.93357256,7 8.86733422,7.00080962 8.8012943,7.00241953 Z" fill="#000000" opacity="0.3" />
                </g>
              </svg>
            </span>New Rate</a>
          </div>
        </div>
        <div class="card-body">
          <table class="datatable table table-bordered table-hover table-checkable dataTable no-footer dtr-inline" id="kt_datatable">
            <thead>
              <tr>
                <th>Rate Card Name</th>
                <th>Primary</th>
                <th>Created By</th>
                <th>Created At</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <% @rate_cards.each do |rate_card| %>
                <tr>
                  <td>
                    <div class="d-flex align-items-center user-name">
                      <div class="ml-4">
                        <div class="text-dark-75 font-weight-bolder font-size-lg mb-0"><%= rate_card.name %></div>
                      </div>
                    </div>
                  </td>
                  <td>
                    <% if rate_card.primary? %>
                      <label class="label label-lg font-weight-bold label-light-primary label-inline">Yes</label>
                    <% else %>
                      <label class="label label-lg font-weight-bold label-light-danger label-inline">No</label>
                    <% end %>
                  </td>
                  <td><%= rate_card.created_by&.full_name %></td>
                  <td><%= rate_card.created_at.strftime('%d/%m/%y') %></td>
                  <td width='200px'>
                    <%= link_to rate_card, class: 'btn btn-sm btn-default btn-text-primary btn-hover-primary btn-icon mr-2' do %>
                      <i class='fa fa-eye'></i>
                    <% end %>

                    <%= link_to [:edit, rate_card], class: 'btn btn-sm btn-default btn-text-primary btn-hover-primary btn-icon mr-2' do %>
                      <i class='fa fa-edit'></i>
                    <% end %>

                    <%= link_to rate_card, data: { method: :delete, confirm: 'Are you sure?'}, class: 'btn btn-sm btn-default btn-text-primary btn-hover-primary btn-icon mr-2' do %>
                      <i class='fa fa-trash'></i>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>