<!--begin::Content-->
<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
  <!--begin::Entry-->
  <div class="d-flex flex-column-fluid">
    <!--begin::Container-->
    <div class="container">
      <div class="card card-custom">
        <div class="card-body p-0">
          <!--begin::Wizard-->
          <div class="wizard wizard-1" id="kt_wizard" data-wizard-state="step-first" data-wizard-clickable="false">
            <!--begin::Wizard Nav-->
            <div class="wizard-nav border-bottom">
              <div class="wizard-steps p-8 p-lg-10">
                <!--begin::Wizard Step 1 Nav-->
                <div class="wizard-step" data-wizard-type="step" data-wizard-state="current">
                  <div class="wizard-label">
                    <div class="wizard-icon">
                      <span class="svg-icon svg-icon-4x">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                          <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <polygon points="0 0 24 0 24 24 0 24" />
                            <path d="M12,11 C9.790861,11 8,9.209139 8,7 C8,4.790861 9.790861,3 12,3 C14.209139,3 16,4.790861 16,7 C16,9.209139 14.209139,11 12,11 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" />
                            <path d="M3.00065168,20.1992055 C3.38825852,15.4265159 7.26191235,13 11.9833413,13 C16.7712164,13 20.7048837,15.2931929 20.9979143,20.2 C21.0095879,20.3954741 20.9979143,21 20.2466999,21 C16.541124,21 11.0347247,21 3.72750223,21 C3.47671215,21 2.97953825,20.45918 3.00065168,20.1992055 Z" fill="#000000" fill-rule="nonzero" />
                          </g>
                        </svg>
                      </span>
                    </div>
                    <h3 class="wizard-title">Setup Persional Information</h3>
                  </div>
                  <span class="svg-icon svg-icon-xl wizard-arrow">
                    <!--begin::Svg Icon | path:assets/media/svg/icons/Navigation/Arrow-right.svg-->
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                      <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <polygon points="0 0 24 0 24 24 0 24" />
                        <rect fill="#000000" opacity="0.3" transform="translate(12.000000, 12.000000) rotate(-90.000000) translate(-12.000000, -12.000000)" x="11" y="5" width="2" height="14" rx="1" />
                        <path d="M9.70710318,15.7071045 C9.31657888,16.0976288 8.68341391,16.0976288 8.29288961,15.7071045 C7.90236532,15.3165802 7.90236532,14.6834152 8.29288961,14.2928909 L14.2928896,8.29289093 C14.6714686,7.914312 15.281055,7.90106637 15.675721,8.26284357 L21.675721,13.7628436 C22.08284,14.136036 22.1103429,14.7686034 21.7371505,15.1757223 C21.3639581,15.5828413 20.7313908,15.6103443 20.3242718,15.2371519 L15.0300721,10.3841355 L9.70710318,15.7071045 Z" fill="#000000" fill-rule="nonzero" transform="translate(14.999999, 11.999997) scale(1, -1) rotate(90.000000) translate(-14.999999, -11.999997)" />
                      </g>
                    </svg>
                    <!--end::Svg Icon-->
                  </span>
                </div>
                <!--end::Wizard Step 1 Nav-->
                <!--begin::Wizard Step 2 Nav-->
                <div class="wizard-step" data-wizard-type="step">
                  <div class="wizard-label">
                    <div class="wizard-icon">
                      <span class="svg-icon svg-icon-4x">
                        <!--begin::Svg Icon | path:assets/media/svg/icons/Map/Marker1.svg-->
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                          <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <rect x="0" y="0" width="24" height="24" />
                            <path d="M5,10.5 C5,6 8,3 12.5,3 C17,3 20,6.75 20,10.5 C20,12.8325623 17.8236613,16.03566 13.470984,20.1092932 C12.9154018,20.6292577 12.0585054,20.6508331 11.4774555,20.1594925 C7.15915182,16.5078313 5,13.2880005 5,10.5 Z M12.5,12 C13.8807119,12 15,10.8807119 15,9.5 C15,8.11928813 13.8807119,7 12.5,7 C11.1192881,7 10,8.11928813 10,9.5 C10,10.8807119 11.1192881,12 12.5,12 Z" fill="#000000" fill-rule="nonzero" />
                          </g>
                        </svg>
                        <!--end::Svg Icon-->
                      </span>
                    </div>
                    <h3 class="wizard-title">Setup Location</h3>
                  </div>
                  <span class="svg-icon svg-icon-xl wizard-arrow">
                    <!--begin::Svg Icon | path:assets/media/svg/icons/Navigation/Arrow-right.svg-->
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                      <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <polygon points="0 0 24 0 24 24 0 24" />
                        <rect fill="#000000" opacity="0.3" transform="translate(12.000000, 12.000000) rotate(-90.000000) translate(-12.000000, -12.000000)" x="11" y="5" width="2" height="14" rx="1" />
                        <path d="M9.70710318,15.7071045 C9.31657888,16.0976288 8.68341391,16.0976288 8.29288961,15.7071045 C7.90236532,15.3165802 7.90236532,14.6834152 8.29288961,14.2928909 L14.2928896,8.29289093 C14.6714686,7.914312 15.281055,7.90106637 15.675721,8.26284357 L21.675721,13.7628436 C22.08284,14.136036 22.1103429,14.7686034 21.7371505,15.1757223 C21.3639581,15.5828413 20.7313908,15.6103443 20.3242718,15.2371519 L15.0300721,10.3841355 L9.70710318,15.7071045 Z" fill="#000000" fill-rule="nonzero" transform="translate(14.999999, 11.999997) scale(1, -1) rotate(90.000000) translate(-14.999999, -11.999997)" />
                      </g>
                    </svg>
                    <!--end::Svg Icon-->
                  </span>
                </div>
                <!--end::Wizard Step 2 Nav-->
                <!--begin::Wizard Step 3 Nav-->
                <div class="wizard-step" data-wizard-type="step">
                  <div class="wizard-label">
                    <div class="wizard-icon">
                      <span class="svg-icon svg-icon-4x">
                        <!--begin::Svg Icon | path:assets/media/svg/icons/Files/Selected-file.svg-->
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                          <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <polygon points="0 0 24 0 24 24 0 24" />
                            <path d="M4.85714286,1 L11.7364114,1 C12.0910962,1 12.4343066,1.12568431 12.7051108,1.35473959 L17.4686994,5.3839416 C17.8056532,5.66894833 18,6.08787823 18,6.52920201 L18,19.0833333 C18,20.8738751 17.9795521,21 16.1428571,21 L4.85714286,21 C3.02044787,21 3,20.8738751 3,19.0833333 L3,2.91666667 C3,1.12612489 3.02044787,1 4.85714286,1 Z M8,12 C7.44771525,12 7,12.4477153 7,13 C7,13.5522847 7.44771525,14 8,14 L15,14 C15.5522847,14 16,13.5522847 16,13 C16,12.4477153 15.5522847,12 15,12 L8,12 Z M8,16 C7.44771525,16 7,16.4477153 7,17 C7,17.5522847 7.44771525,18 8,18 L11,18 C11.5522847,18 12,17.5522847 12,17 C12,16.4477153 11.5522847,16 11,16 L8,16 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" />
                            <path d="M6.85714286,3 L14.7364114,3 C15.0910962,3 15.4343066,3.12568431 15.7051108,3.35473959 L20.4686994,7.3839416 C20.8056532,7.66894833 21,8.08787823 21,8.52920201 L21,21.0833333 C21,22.8738751 20.9795521,23 19.1428571,23 L6.85714286,23 C5.02044787,23 5,22.8738751 5,21.0833333 L5,4.91666667 C5,3.12612489 5.02044787,3 6.85714286,3 Z M8,12 C7.44771525,12 7,12.4477153 7,13 C7,13.5522847 7.44771525,14 8,14 L15,14 C15.5522847,14 16,13.5522847 16,13 C16,12.4477153 15.5522847,12 15,12 L8,12 Z M8,16 C7.44771525,16 7,16.4477153 7,17 C7,17.5522847 7.44771525,18 8,18 L11,18 C11.5522847,18 12,17.5522847 12,17 C12,16.4477153 11.5522847,16 11,16 L8,16 Z" fill="#000000" fill-rule="nonzero" />
                          </g>
                        </svg>
                        <!--end::Svg Icon-->
                      </span>
                    </div>
                    <h3 class="wizard-title">Brand Details</h3>
                  </div>
                  <span class="svg-icon svg-icon-xl wizard-arrow">
                    <!--begin::Svg Icon | path:assets/media/svg/icons/Navigation/Arrow-right.svg-->
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                      <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <polygon points="0 0 24 0 24 24 0 24" />
                        <rect fill="#000000" opacity="0.3" transform="translate(12.000000, 12.000000) rotate(-90.000000) translate(-12.000000, -12.000000)" x="11" y="5" width="2" height="14" rx="1" />
                        <path d="M9.70710318,15.7071045 C9.31657888,16.0976288 8.68341391,16.0976288 8.29288961,15.7071045 C7.90236532,15.3165802 7.90236532,14.6834152 8.29288961,14.2928909 L14.2928896,8.29289093 C14.6714686,7.914312 15.281055,7.90106637 15.675721,8.26284357 L21.675721,13.7628436 C22.08284,14.136036 22.1103429,14.7686034 21.7371505,15.1757223 C21.3639581,15.5828413 20.7313908,15.6103443 20.3242718,15.2371519 L15.0300721,10.3841355 L9.70710318,15.7071045 Z" fill="#000000" fill-rule="nonzero" transform="translate(14.999999, 11.999997) scale(1, -1) rotate(90.000000) translate(-14.999999, -11.999997)" />
                      </g>
                    </svg>
                    <!--end::Svg Icon-->
                  </span>
                </div>
                <!--end::Wizard Step 3 Nav-->
                <!--begin::Wizard Step 4 Nav-->
                <div class="wizard-step" data-wizard-type="step">
                  <div class="wizard-label">
                    <div class="wizard-icon">
                      <span class="svg-icon svg-icon-4x">
                        <!--begin::Svg Icon | path:assets/media/svg/icons/Shopping/Box2.svg-->
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                          <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <rect x="0" y="0" width="24" height="24" />
                            <path d="M4,9.67471899 L10.880262,13.6470401 C10.9543486,13.689814 11.0320333,13.7207107 11.1111111,13.740321 L11.1111111,21.4444444 L4.49070127,17.526473 C4.18655139,17.3464765 4,17.0193034 4,16.6658832 L4,9.67471899 Z M20,9.56911707 L20,16.6658832 C20,17.0193034 19.8134486,17.3464765 19.5092987,17.526473 L12.8888889,21.4444444 L12.8888889,13.6728275 C12.9050191,13.6647696 12.9210067,13.6561758 12.9368301,13.6470401 L20,9.56911707 Z" fill="#000000" />
                            <path d="M4.21611835,7.74669402 C4.30015839,7.64056877 4.40623188,7.55087574 4.5299008,7.48500698 L11.5299008,3.75665466 C11.8237589,3.60013944 12.1762411,3.60013944 12.4700992,3.75665466 L19.4700992,7.48500698 C19.5654307,7.53578262 19.6503066,7.60071528 19.7226939,7.67641889 L12.0479413,12.1074394 C11.9974761,12.1365754 11.9509488,12.1699127 11.9085461,12.2067543 C11.8661433,12.1699127 11.819616,12.1365754 11.7691509,12.1074394 L4.21611835,7.74669402 Z" fill="#000000" opacity="0.3" />
                          </g>
                        </svg>
                        <!--end::Svg Icon-->
                      </span>
                    </div>
                    <h3 class="wizard-title">Project Documentation</h3>
                  </div>
                  <span class="svg-icon svg-icon-xl wizard-arrow">
                    <!--begin::Svg Icon | path:assets/media/svg/icons/Navigation/Arrow-right.svg-->
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                      <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <polygon points="0 0 24 0 24 24 0 24" />
                        <rect fill="#000000" opacity="0.3" transform="translate(12.000000, 12.000000) rotate(-90.000000) translate(-12.000000, -12.000000)" x="11" y="5" width="2" height="14" rx="1" />
                        <path d="M9.70710318,15.7071045 C9.31657888,16.0976288 8.68341391,16.0976288 8.29288961,15.7071045 C7.90236532,15.3165802 7.90236532,14.6834152 8.29288961,14.2928909 L14.2928896,8.29289093 C14.6714686,7.914312 15.281055,7.90106637 15.675721,8.26284357 L21.675721,13.7628436 C22.08284,14.136036 22.1103429,14.7686034 21.7371505,15.1757223 C21.3639581,15.5828413 20.7313908,15.6103443 20.3242718,15.2371519 L15.0300721,10.3841355 L9.70710318,15.7071045 Z" fill="#000000" fill-rule="nonzero" transform="translate(14.999999, 11.999997) scale(1, -1) rotate(90.000000) translate(-14.999999, -11.999997)" />
                      </g>
                    </svg>
                    <!--end::Svg Icon-->
                  </span>
                </div>
                <!--end::Wizard Step 4 Nav-->
                <!--begin::Wizard Step 5 Nav-->
                <div class="wizard-step" data-wizard-type="step">
                  <div class="wizard-label">
                    <div class="wizard-icon">
                      <span class="svg-icon svg-icon-4x">
                        <!--begin::Svg Icon | path:assets/media/svg/icons/Communication/Chat-check.svg-->
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                          <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <rect x="0" y="0" width="24" height="24" />
                            <path d="M4.875,20.75 C4.63541667,20.75 4.39583333,20.6541667 4.20416667,20.4625 L2.2875,18.5458333 C1.90416667,18.1625 1.90416667,17.5875 2.2875,17.2041667 C2.67083333,16.8208333 3.29375,16.8208333 3.62916667,17.2041667 L4.875,18.45 L8.0375,15.2875 C8.42083333,14.9041667 8.99583333,14.9041667 9.37916667,15.2875 C9.7625,15.6708333 9.7625,16.2458333 9.37916667,16.6291667 L5.54583333,20.4625 C5.35416667,20.6541667 5.11458333,20.75 4.875,20.75 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" />
                            <path d="M2,11.8650466 L2,6 C2,4.34314575 3.34314575,3 5,3 L19,3 C20.6568542,3 22,4.34314575 22,6 L22,15 C22,15.0032706 21.9999948,15.0065399 21.9999843,15.009808 L22.0249378,15 L22.0249378,19.5857864 C22.0249378,20.1380712 21.5772226,20.5857864 21.0249378,20.5857864 C20.7597213,20.5857864 20.5053674,20.4804296 20.317831,20.2928932 L18.0249378,18 L12.9835977,18 C12.7263047,14.0909841 9.47412135,11 5.5,11 C4.23590829,11 3.04485894,11.3127315 2,11.8650466 Z M6,7 C5.44771525,7 5,7.44771525 5,8 C5,8.55228475 5.44771525,9 6,9 L15,9 C15.5522847,9 16,8.55228475 16,8 C16,7.44771525 15.5522847,7 15,7 L6,7 Z" fill="#000000" />
                          </g>
                        </svg>
                        <!--end::Svg Icon-->
                      </span>
                    </div>
                    <h3 class="wizard-title">MegaPop offers</h3>
                  </div>
                  <span class="svg-icon svg-icon-xl wizard-arrow last">
                    <!--begin::Svg Icon | path:assets/media/svg/icons/Navigation/Arrow-right.svg-->
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                      <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <polygon points="0 0 24 0 24 24 0 24" />
                        <rect fill="#000000" opacity="0.3" transform="translate(12.000000, 12.000000) rotate(-90.000000) translate(-12.000000, -12.000000)" x="11" y="5" width="2" height="14" rx="1" />
                        <path d="M9.70710318,15.7071045 C9.31657888,16.0976288 8.68341391,16.0976288 8.29288961,15.7071045 C7.90236532,15.3165802 7.90236532,14.6834152 8.29288961,14.2928909 L14.2928896,8.29289093 C14.6714686,7.914312 15.281055,7.90106637 15.675721,8.26284357 L21.675721,13.7628436 C22.08284,14.136036 22.1103429,14.7686034 21.7371505,15.1757223 C21.3639581,15.5828413 20.7313908,15.6103443 20.3242718,15.2371519 L15.0300721,10.3841355 L9.70710318,15.7071045 Z" fill="#000000" fill-rule="nonzero" transform="translate(14.999999, 11.999997) scale(1, -1) rotate(90.000000) translate(-14.999999, -11.999997)" />
                      </g>
                    </svg>
                    <!--end::Svg Icon-->
                  </span>
                </div>
                <!--end::Wizard Step 5 Nav-->
              </div>
            </div>
            <!--end::Wizard Nav-->
            <!--begin::Wizard Body-->
            <div class="row justify-content-center my-10 px-8 my-lg-15 px-lg-10">
              <div class="col-xl-12 col-xxl-7">
                <!--begin::Wizard Form-->
                <%= form_for @payment_request, html: { id: 'payment_requests_form' }, remote: true, authenticity_token: true do |f| %>
                  <%= f.fields_for :created_by_attributes, @created_by_attributes do |ff|%>
                    <%= ff.hidden_field :id, value: current_user.id %>
                    <!--begin::Wizard Step 1-->
                    <div class="pb-5" data-wizard-type="step-content" data-wizard-state="current">
                      <h3 class="mb-10 font-weight-bold text-dark">Enter Your Account Detail</h3>
                      <!--begin::Input-->
                      <div class="form-group">
                        <label>First Name</label>
                        <%= ff.text_field :first_name, class: 'form-control form-control-solid form-control-lg', value: current_user.first_name %>
                        <span class="form-text text-muted">Please enter your first name.</span>
                      </div>
                      <!--end::Input-->
                      <!--begin::Input-->
                      <div class="form-group">
                        <label>Last Name</label>
                        <%= ff.text_field :last_name, class: 'form-control form-control-solid form-control-lg', value: current_user.last_name %>
                        <span class="form-text text-muted">Please enter your last name.</span>
                      </div>
                      <!--end::Input-->
                      <div class="row">
                        <div class="col-xl-6">
                          <!--begin::Input-->
                          <div class="form-group">
                            <label>Phone</label>
                            <%= ff.text_field :phone_number, class: 'form-control form-control-solid form-control-lg', value: current_user.phone_number %>
                            <span class="form-text text-muted">Please enter your phone number.</span>
                          </div>
                          <!--end::Input-->
                        </div>
                        <div class="col-xl-6">
                          <!--begin::Input-->
                          <div class="form-group">
                            <label>Email</label>
                            <%= ff.text_field :email, class: 'form-control form-control-solid form-control-lg', value: current_user.email %>
                            <span class="form-text text-muted">Please enter your email address.</span>
                          </div>
                          <!--end::Input-->
                        </div>
                      </div>
                    </div>
                    <!--end::Wizard Step 1-->
                    <!--begin::Wizard Step 2-->
                    <div class="pb-5" data-wizard-type="step-content">
                      <div class="row">
                        <div class="col-xl-6">
                          <!--begin::Input-->
                          <div class="form-group">
                            <label>Address Line 1</label>
                            <%= ff.text_field :street_address_1, class: 'form-control form-control-solid form-control-lg', value: current_user.street_address_1 %>
                            <span class="form-text text-muted">Please enter your address line 1.</span>
                          </div>
                          <!--end::Input-->
                        </div>
                        <div class="col-xl-6">
                          <!--begin::Input-->
                          <div class="form-group">
                            <label>Address Line 2</label>
                            <%= ff.text_field :street_address_2, class: 'form-control form-control-solid form-control-lg', value: current_user.street_address_2 %>
                            <span class="form-text text-muted">Please enter your address line 2.</span>
                          </div>
                          <!--end::Input-->
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-xl-6">
                          <!--begin::Input-->
                          <div class="form-group">
                            <label>Postcode</label>
                            <%= ff.text_field :postcode, class: 'form-control form-control-solid form-control-lg', value: current_user.postcode %>
                            <span class="form-text text-muted">Please enter your postcode.</span>
                          </div>
                          <!--end::Input-->
                        </div>
                        <div class="col-xl-6">
                          <!--begin::Input-->
                          <div class="form-group">
                            <label>City</label>
                            <%= ff.text_field :city, class: 'form-control form-control-solid form-control-lg', value: current_user.city %>
                            <span class="form-text text-muted">Please enter your City.</span>
                          </div>
                          <!--end::Input-->
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-xl-6">
                          <!--begin::Input-->
                          <div class="form-group">
                            <label>State</label>
                            <%= ff.select :state, options_for_select(us_states, current_user.state), {}, class: 'form-control form-control-solid form-control-lg' %>
                            <span class="form-text text-muted">Please enter your State.</span>
                          </div>
                          <!--end::Input-->
                        </div>
                        <div class="col-xl-6">
                          <!--begin::Select-->
                          <div class="form-group">
                            <label>Country</label>
                            <%= ff.select :country, options_for_select([['United States', 'US']], current_user.country), {}, class: 'form-control form-control-solid form-control-lg' %>
                          </div>
                          <!--end::Select-->
                        </div>
                      </div>
                    </div>
                    <!--end::Wizard Step 2-->
                  <% end %>
                  <!--begin::Wizard Step 3-->
                  <div class="pb-5" data-wizard-type="step-content">
                    <h4 class="mb-10 font-weight-bold text-dark">Tell About Your Sponsorship</h4>

                    <div class="form-group">
                      <label>Sponsorship Type</label>
                      <%= f.select :sponsorship_type, options_for_select(sponsorship_types_collection.invert, f.object.sponsorship_type), { prompt: "-- Select a sponsorship type --"}, class:"form-control form-control-solid form-control-lg"%>
                    </div>

                    <div class="row">
                      <div class="col-xl-6">
                        <div class="form-group">
                          <label>Brand</label>
                          <%= f.text_field :sponsor_name, class: 'form-control form-control-solid form-control-lg' %>
                        </div>
                      </div>

                      <div class="col-xl-6">
                        <div class="form-group">
                          <label>Social Platform</label>
                          <%= f.select :social_platform, options_for_select(social_platforms_collection, f.object.social_platform), {}, class: 'form-control form-control-solid form-control-lg' %>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-xl-6">
                        <div class="form-group">
                          <label>Is Job Complete</label>
                          <%= f.select :job_complete, options_for_select(boolean_collection, f.object.job_complete), {}, class: 'form-control form-control-solid form-control-lg' %>
                        </div>
                      </div>

                      <div class="col-xl-6">
                        <div class="form-group">
                          <label>Date You Expect Payment</label>
                          <div class="input-group date" data-provide="datepicker">
                            <div class="input-group input-group-lg input-group-solid">
                              <%= f.text_field :expected_payment_date, class: 'form-control form-control-solid form-control-lg' %>
                              <div class="input-group-addon">
                                <span class="glyphicon glyphicon-th"></span>
                              </div>
                              <div class="input-group-append">
                                <span class="input-group-text">
                                  <i class="la la-calendar"></i>
                                </span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-xl-6">
                        <div class="form-group">
                          <label>Project Amount</label>
                          <%= f.text_field :project_amount, class: 'form-control form-control-solid form-control-lg' %>
                        </div>
                      </div>

                      <div class="col-xl-6">
                        <div class="form-group">
                          <label>Amount Required</label>
                          <%= f.text_field :debt_amount, class: 'form-control form-control-solid form-control-lg' %>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--end::Wizard Step 3-->
                  <!--begin::Wizard Step 4-->
                  <div class="pb-5" data-wizard-type="step-content" data-uppy="payment_request[project_documents][]">
                    <h4 class="mb-5 font-weight-bold text-dark">Upload Project Document</h4>
                    <span class="mb-5 form-text text-muted">Please provide a copy of your invoice to the buyer, influencer platform screen shots or other supporting evidence of your contract.</span>
                    <div class="row">
                      <div class="col-lg-12 col-md-12 col-sm-12">
	                      <div class="uppy" id="kt_uppy_3">
													<div class="uppy-drag"></div>
													<div class="uppy-informer"></div>
													<div class="uppy-progress"></div>
													<div class="uppy-thumbnails"></div>
												</div>
                      </div>
                    </div>
                  </div>
                  <!--end::Wizard Step 4-->
                  <!--begin::Wizard Step 5-->
                  <div class="pb-5" data-wizard-type="step-content">
                    <h4 class="mb-10 font-weight-bold text-dark">Megapop Offers</h4>
                    <div class="row justify-content-between">
                      <div class="col-lg-4 p-5">
                        <div class="card">
                          <div class="col-lg-6 radio-inline">
                            <label class="radio radio-solid">
                              <%= f.radio_button :megapop_offer, 2  %>
                              <span></span>
                              2%
                            </label>
                          </div>
                          <div class="col-lg-6 text-right">
                            <strong>30 days</strong>
                          </div>
                        </div>
                      </div>

                      <div class="col-lg-4 p-5">
                        <div class="card">
                          <div clas='card-body'>
                            <label class="radio radio-solid">
                              <%= f.radio_button :megapop_offer, 3 %>
                              <span></span>
                              3%
                            </label>
                            <strong>30 days</strong>
                          </div>
                        </div>
                      </div>

                      <div class="col-lg-4 p-5">
                        <div class="card">
                          <div class="col-lg-6 radio-inline">
                            <label class="radio radio-solid">
                              <%= f.radio_button :megapop_offer, 5 %>
                              <span></span>
                              5%
                            </label>
                          </div>
                          <div class="col-lg-5 text-right">
                            <strong>30 days</strong>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--end::Wizard Step 5-->
                  <!--begin::Wizard Actions-->
                  <div class="d-flex justify-content-between border-top mt-5 pt-10">
                    <div class="mr-2">
                      <button type="button" id="prev-step" class="btn btn-light-primary font-weight-bolder px-10 py-3" data-wizard-type="action-prev">
                      <span class="svg-icon svg-icon-md mr-3">
                        <!--begin::Svg Icon | path:assets/media/svg/icons/Navigation/Arrow-left.svg-->
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                          <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <polygon points="0 0 24 0 24 24 0 24" />
                            <rect fill="#000000" opacity="0.3" transform="translate(12.000000, 12.000000) scale(-1, 1) rotate(-90.000000) translate(-12.000000, -12.000000)" x="11" y="5" width="2" height="14" rx="1" />
                            <path d="M3.7071045,15.7071045 C3.3165802,16.0976288 2.68341522,16.0976288 2.29289093,15.7071045 C1.90236664,15.3165802 1.90236664,14.6834152 2.29289093,14.2928909 L8.29289093,8.29289093 C8.67146987,7.914312 9.28105631,7.90106637 9.67572234,8.26284357 L15.6757223,13.7628436 C16.0828413,14.136036 16.1103443,14.7686034 15.7371519,15.1757223 C15.3639594,15.5828413 14.7313921,15.6103443 14.3242731,15.2371519 L9.03007346,10.3841355 L3.7071045,15.7071045 Z" fill="#000000" fill-rule="nonzero" transform="translate(9.000001, 11.999997) scale(-1, -1) rotate(90.000000) translate(-9.000001, -11.999997)" />
                          </g>
                        </svg>
                        <!--end::Svg Icon-->
                      </span>Previous</button>
                    </div>
                    <div>
                      <button type="submit" class="btn btn-primary font-weight-bolder px-10 py-3" id="next-step" >Next
                      <span class="svg-icon svg-icon-md ml-3">
                        <!--begin::Svg Icon | path:assets/media/svg/icons/Navigation/Arrow-right.svg-->
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                          <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <polygon points="0 0 24 0 24 24 0 24" />
                            <rect fill="#000000" opacity="0.3" transform="translate(12.000000, 12.000000) rotate(-90.000000) translate(-12.000000, -12.000000)" x="11" y="5" width="2" height="14" rx="1" />
                            <path d="M9.70710318,15.7071045 C9.31657888,16.0976288 8.68341391,16.0976288 8.29288961,15.7071045 C7.90236532,15.3165802 7.90236532,14.6834152 8.29288961,14.2928909 L14.2928896,8.29289093 C14.6714686,7.914312 15.281055,7.90106637 15.675721,8.26284357 L21.675721,13.7628436 C22.08284,14.136036 22.1103429,14.7686034 21.7371505,15.1757223 C21.3639581,15.5828413 20.7313908,15.6103443 20.3242718,15.2371519 L15.0300721,10.3841355 L9.70710318,15.7071045 Z" fill="#000000" fill-rule="nonzero" transform="translate(14.999999, 11.999997) scale(1, -1) rotate(90.000000) translate(-14.999999, -11.999997)" />
                          </g>
                        </svg>
                        <!--end::Svg Icon-->
                      </span></button>
                    </div>
                  </div>
                  <!--end::Wizard Actions-->
                <% end %>
                <!--end::Wizard Form-->
              </div>
            </div>
            <!--end::Wizard Body-->
          </div>
        </div>
        <!--end::Wizard-->
      </div>
    </div>
    <!--end::Container-->
  </div>
  <!--end::Entry-->
</div>
<!--end::Content-->
