<div class="pb-5" data-wizard-type="step-content">
  <h4 class="mb-10 font-weight-bold text-dark">Megapop Offers</h4>
  <div class="row justify-content-between">
    <%= f.fields_for :payment_debits do |fp| %>
      <%= fp.hidden_field :id %>
      <%= fp.hidden_field :rate_id %>
      <%= fp.hidden_field :rate_risk_adjustment_id %>
      <%= fp.hidden_field :collection_amount %>
      <%= fp.hidden_field :collection_date %>
      <%= fp.hidden_field :credit_score %>

      <div class="col-lg-4 p-5">
        <div class="card">
          <div class='card-body'>
            <div class='row'>
              <div class='col-6'>
                <div class="radio-inline">
                  <label class="radio radio-solid">
                    <%= fp.radio_button :active, true %>
                    <span></span>
                    <%= fp.object.collection_amount %>%
                  </label>
                </div>
              </div>
              <div class="col-6">
                <strong><%= (fp.object.collection_date.to_date - Time.now.to_date).to_i + 1 %> days</strong>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>