<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
	<!--begin::Breadcrumbs-->

	<!--end::Breadcrumbs-->
	<!--begin::Entry-->
	<div class="d-flex flex-column-fluid">
		<!--begin::Container-->
		<div class="container">
			<!--begin::Card-->
			<div class="card card-custom">
				<!--begin::Card header-->
				<div class="card-header card-header-tabs-line nav-tabs-line-3x">
					<!--begin::Toolbar-->
					<div class="card-toolbar">
						<ul class="nav nav-tabs nav-bold nav-tabs-line nav-tabs-line-3x">
							<!--begin::Item-->
							<li class="nav-item mr-3">
								<a class="nav-link active" data-toggle="tab" href="#kt_user_edit_tab_1">
									<span class="nav-icon">
										<span class="svg-icon">
											<!--begin::Svg Icon | path:assets/media/svg/icons/Design/Layers.svg-->
											<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
												<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
													<polygon points="0 0 24 0 24 24 0 24" />
													<path d="M12.9336061,16.072447 L19.36,10.9564761 L19.5181585,10.8312381 C20.1676248,10.3169571 20.2772143,9.3735535 19.7629333,8.72408713 C19.6917232,8.63415859 19.6104327,8.55269514 19.5206557,8.48129411 L12.9336854,3.24257445 C12.3871201,2.80788259 11.6128799,2.80788259 11.0663146,3.24257445 L4.47482784,8.48488609 C3.82645598,9.00054628 3.71887192,9.94418071 4.23453211,10.5925526 C4.30500305,10.6811601 4.38527899,10.7615046 4.47382636,10.8320511 L4.63,10.9564761 L11.0659024,16.0730648 C11.6126744,16.5077525 12.3871218,16.5074963 12.9336061,16.072447 Z" fill="#000000" fill-rule="nonzero" />
													<path d="M11.0563554,18.6706981 L5.33593024,14.122919 C4.94553994,13.8125559 4.37746707,13.8774308 4.06710397,14.2678211 C4.06471678,14.2708238 4.06234874,14.2738418 4.06,14.2768747 L4.06,14.2768747 C3.75257288,14.6738539 3.82516916,15.244888 4.22214834,15.5523151 C4.22358765,15.5534297 4.2250303,15.55454 4.22647627,15.555646 L11.0872776,20.8031356 C11.6250734,21.2144692 12.371757,21.2145375 12.909628,20.8033023 L19.7677785,15.559828 C20.1693192,15.2528257 20.2459576,14.6784381 19.9389553,14.2768974 C19.9376429,14.2751809 19.9363245,14.2734691 19.935,14.2717619 L19.935,14.2717619 C19.6266937,13.8743807 19.0546209,13.8021712 18.6572397,14.1104775 C18.654352,14.112718 18.6514778,14.1149757 18.6486172,14.1172508 L12.9235044,18.6705218 C12.377022,19.1051477 11.6029199,19.1052208 11.0563554,18.6706981 Z" fill="#000000" opacity="0.3" />
												</g>
											</svg>
											<!--end::Svg Icon-->
										</span>
									</span>
									<span class="nav-text font-size-lg"><%= page_title %></span>
								</a>
							</li>
						</ul>
					</div>
					<!--end::Toolbar-->
				</div>
				<!--end::Card header-->
				<!--begin::Card body-->
				<div class="card-body">
					<%= form_for @user, html: { id: 'user-form' } do |f| %>
						<div class="tab-content">
							<!--begin::Tab-->
							<div class="tab-pane show active px-7" id="kt_user_edit_tab_1" role="tabpanel">

                <div class="form-group row">
                  <label class="col-xl-2 col-form-label text-lg-right">Photo</label>
                  <div class="col-xl-3 col-xl-8">
                    <div class="image-input image-input-outline" id="kt_profile_avatar" style="background-image: url('<%=  asset_path('media/users/blank.png') %>')">
                      <div class="image-input-wrapper" style="background-image: url('<%= user_avatar(@user) %>')"></div>
                      <label class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow" data-action="change" data-toggle="tooltip" title="" data-original-title="Change avatar">
                        <i class="fa fa-pen icon-sm text-muted"></i>
                        <%= f.file_field :avatar,  accept: ".png, .jpg, .jpeg" %>
                        <input type="hidden" name="profile_avatar_remove" />
                      </label>
                      <span class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow" data-action="cancel" data-toggle="tooltip" title="Cancel avatar">
                        <i class="ki ki-bold-close icon-xs text-muted"></i>
                      </span>
                    </div>
                    <span class="form-text text-muted">Allowed file types: png, jpg, jpeg.</span>
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-xl-2 col-lg-2 col-form-label text-right">First Name</label>
                  <div class="col-xl-3 col-lg-3">
                    <%= f.text_field :first_name, class: 'form-control form-control-lg form-control-solid' %>
                  </div>
                  <label class="col-xl-2 col-form-label text-right">Last Name</label>
                  <div class="col-xl-3">
                    <%= f.text_field :last_name, class: 'form-control form-control-lg form-control-solid' %>
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-xl-2 col-lg-2 col-form-label text-right">Email</label>
                  <div class="col-xl-3">
                    <div class="input-group input-group-lg input-group-solid">
                      <%= f.text_field :email, class: 'form-control form-control-lg form-control-solid' %>
                      <div class="input-group-append">
                        <span class="input-group-text">
                          <i class="la la-at"></i>
                        </span>
                      </div>
                    </div>
                  </div>

                  <label class="col-xl-2 col-lg-2 col-form-label text-right">Date of Birth</label>
                  <div class="col-xl-3">
                    <div class="input-group date" data-provide="datepicker">
                      <div class="input-group input-group-lg input-group-solid">
                        <%= f.text_field :dob, class: 'form-control form-control-lg form-control-solid' %>
                        <div class="input-group-addon">
                          <span class="glyphicon glyphicon-th"></span>
                        </div>
                        <div class="input-group-append">
                          <span class="input-group-text">
                            <i class="la la-calendar"></i>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-xl-2 col-lg-2 col-form-label text-right">Phone Number</label>
                  <div class="col-xl-3 col-lg-3">
                    <div class="input-group input-group-lg input-group-solid">
                      <%= f.text_field :phone_number, class: 'form-control form-control-lg form-control-solid' %>
                      <div class="input-group-append">
                        <span class="input-group-text">
                          <i class="la la-phone"></i>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>

							  <div class='separator separator-dashed mb-10'></div>
                <div class="form-group row">
                  <label class="col-xl-2 col-lg-2 col-form-label text-right">Address 1</label>
                  <div class="col-lg-3 col-xl-3">
                    <%= f.text_field :street_address_1, class: 'form-control form-control-lg form-control-solid mb-2' %>
                  </div>

                  <label class="col-xl-2 col-lg-2 col-form-label text-right">Address 2</label>
                  <div class="col-lg-3 col-xl-3">
                    <%= f.text_field :street_address_2, class: 'form-control form-control-lg form-control-solid mb-2' %>
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-xl-2 col-lg-2 col-form-label text-right">City</label>
                  <div class="col-lg-3 col-xl-3">
                    <%= f.text_field :city, class: 'form-control form-control-lg form-control-solid mb-2' %>
                  </div>

                  <label class="col-xl-2 col-lg-2 col-form-label text-right">State</label>
                  <div class="col-lg-3 col-xl-3">
                    <%= f.select :state, options_for_select(us_states, f.object.state), {}, class: 'form-control form-control-lg form-control-solid mb-2 select2' %>
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-xl-2 col-lg-2 col-form-label text-right">Zip</label>
                  <div class="col-lg-3 col-xl-3">
                    <%= f.text_field :zip_code, class: 'form-control form-control-lg form-control-solid mb-2' %>
                  </div>

                  <label class="col-xl-2 col-lg-2 col-form-label text-right">Post Code</label>
                  <div class="col-lg-3 col-xl-3">
                    <%= f.text_field :postcode, class: 'form-control form-control-lg form-control-solid' %>
                  </div>
                </div>

							  <div class='separator separator-dashed mb-10'></div>
                  <div class="form-group row">
                  <label class="col-xl-2 col-lg-2 col-form-label text-right">Password</label>
                  <div class="col-lg-3 col-xl-3">
                    <%= f.password_field :password, class: 'form-control form-control-lg form-control-solid mb-2' %>
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-xl-2 col-lg-2 col-form-label text-right">Confirmation Password</label>
                  <div class="col-lg-3 col-xl-3">
                    <%= f.password_field :password_confirmation, class: 'form-control form-control-lg form-control-solid mb-2' %>
                  </div>
                </div>

							  <div class='separator separator-dashed mb-10'></div>

                <div class="form-group row">
                  <label class="col-xl-2 col-lg-2 col-form-label text-right">Role</label>
                  <div class="col-lg-3 col-xl-3">
                    <%= f.select :role, options_for_select(user_roles.invert, f.object.role), {}, class: 'form-control form-control-lg form-control-solid' %>
                  </div>

                   <label class="col-xl-2 col-lg-2 col-form-label text-right">SSN</label>
                  <div class="col-lg-3 col-xl-3">
                    <%= f.text_field :ssn, class: 'form-control form-control-lg form-control-solid' %>
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-xl-2 col-lg-2 col-form-label text-right">Status</label>
                  <div class="col-lg-3 col-xl-3">
                    <div class="checkbox-inline">
                      <label class="checkbox mb-2">
                      <%= f.check_box :status %>
                      <span></span>
                    </div>
                  </div>
                </div>

                <div class='separator separator-dashed mb-10'></div>

						    <div class="form-group row">
						      <label class="col-xl-3 col-lg-3 col-form-label text-right"></label>
                  <div class="col-lg-9 col-xl-9 text-right">
                    <button type="submit" class="btn btn-success font-weight-bolder px-10 py-3" id="kt_user_submit_button">	Submit
                    </button>
                  </div>
						    </div>
							</div>
							<!--end::Tab-->
						</div>
					<% end %>
				</div>
				<!--begin::Card body-->
			</div>
			<!--end::Card-->
		</div>
		<!--end::Container-->
	</div>
	<!--end::Entry-->
</div>